* text=auto eol=lf

*.phar binary

*.php diff=php

* export-ignore
/bin/ -export-ignore
/bin/** -export-ignore
/docs/ -export-ignore
/docs/** -export-ignore
/examples/ -export-ignore
/examples/** -export-ignore
/src/ -export-ignore
/src/** -export-ignore
/CHANGELOG.md -export-ignore
/composer.json -export-ignore
/LICENSE -export-ignore
/README.md -export-ignore
/AGENTS.md -export-ignore
/skills/ -export-ignore
/skills/** -export-ignore
/templates/ -export-ignore
/templates/** -export-ignore
